@charset "utf-8";
/* CSS Document */


:root {
  --diamond-width: 12vw;
  --color-bg: hsl(332, 20%, 65%);
}

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
}

.page {
  display: grid;
  place-content: center;
  width: 100%;
  min-height: 100svh;
  background-color: #663b2d;
}
.diamond {
  display: grid;
  grid-template-columns: repeat(4, minmax(0,1fr));
  grid-template-rows: repeat(2, minmax(0,1fr));
  width: 100%;
  padding: 2rem;
  gap: 1.4rem;
}
.diamond__item {
  aspect-ratio: 1;
  position: relative;
  min-width: var(--diamond-width);
  background-color: gray;
  border-radius: 1rem;
  overflow: hidden;
  animation: diamondReveal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  &:nth-child(2), &:nth-child(3) {
    translate: 0 -25%;
  }
  &:nth-child(6), &:nth-child(7) {
    translate: 0 25%;
  }
  /* animation delay for cool transition */
  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.4s;
  }

  &:nth-child(4) {
    animation-delay: 0.6s;
  }

  &:nth-child(5) {
    animation-delay: 0.8s;
  }

  &:nth-child(6) {
    animation-delay: 1s;
  }

  &:nth-child(7) {
    animation-delay: 1.2s;
  }

  &:nth-child(8) {
    animation-delay: 1.4s;
  }
  &:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    rotate: -45deg;
    translate: -50% -50%;
    outline: .7rem solid var(--color-bg);
    animation-delay: 1.6s;
    .diamond__img {
      rotate: 45deg;
      scale: 1.4;
    }
  }
}
.diamond__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}

@keyframes diamondReveal {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  to {
    clip-path: polygon(50% -100%, 200% 50%, 50% 200%, -100% 50%);
  }
}
@charset "utf-8";
/* CSS Document */

